<footer class="site-footer">
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-3 col-xs-4 socialicons" style="font-size:20px" typeof="foaf:Person" about="https://carlboettiger.info/#me">
      <p>
        <script type="text/javascript" src="{{ "/js/obfuscate-email-link.js" | relURL }}"></script> 
        <a href="https://twitter.com/{{.Site.Params.twitter}}"><i class="fa fa-twitter"></i></a> 
        <a href="https://github.com/{{.Site.Params.github}}"><i class="fa fa-github"></i></a>
       <a href="{{ .RSSLink | default .Site.RSSLink }}" type="application/atom+xml"><i class="fa fa-rss"></i></a>
       </p>
    </div>
    <div class="col-md-4 col-md-offset-1 col-xs-4">
	    <p><a href="http://carlboettiger.info"><i class="fa fa-home"></i> Homepage</a></p>
    </div>
    <div class="col-md-3 col-md-offset-1 col-xs-4">
      <p>
      <a rel="license" property="http://creativecommons.org/ns#license" href="https://creativecommons.org/licenses/by/4.0/"><img src="{{ "/img/by.svg" | relURL }}" alt="CC-BY"/></a> 
      </p>
    </div>
  </div>
</div>
</footer>

