 <!-- Bootstrap core JavaScript
    ================================================== -->
  
  
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!--   Core JS Files   -->
	
	<!--
	<script src="{{"js/jquery.min.js" | relURL }}" type="text/javascript"></script>
	<script src="{{"js/bootstrap.min.js" | relURL }}" type="text/javascript"></script>
	-->
	<script src="{{"js/material.min.js" | relURL }}"></script>


	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="{{"js/nouislider.min.js" | relURL }}" type="text/javascript"></script>
	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="{{"js/bootstrap-datepicker.js" | relURL }}" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="{{"js/material-kit.js" | relURL }}" type="text/javascript"></script>

   <!-- LaTeX math rendering -->
    {{ if or .Params.math .Site.Params.math }}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script>
    <script async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
    {{ end }}