<div class="row">
<div class="col-md-8 col-md-offset-2">

<table class="table table-striped" align="text-center">
<tr>
<th align="center" style="width:15%">Date</th>
<th align="center" style="width:10%"><a href="/modules">Module</a></th>
<th align="center" style="width:10%">Data</th>
<th align="center" style="width:45%">Topics</th>
<th align="center" style="width:5%">Read</th>
</tr>

{{ range $.Site.Data.lessons }}
{{range . }}
<tr>
<td align="center">{{ .date }}</td>
<td align="center"><b>{{ .module | safeHTML }}<b/></td>
<td align="center">{{if .datatype }}{{ .datatype | safeHTML }}{{ end }}</td>
<td align="center">{{if .topics }}{{ .topics | safeHTML }}{{ end }}</td>

{{ if .reading }}
<td align="center"><a href="{{ .Site.baseurl }}/{{ .reading }}">
<i class="fa fa-book fa-lg"></i></a></td>
{{ else }}
<td align="center"><font color="f1f1f1">
<i class="fa fa-book fa-lg"></i></font></td>
{{ end }}



</tr>
{{ end }}
{{ end }}

</table>


</div>
</div>