              <div class="profile-tabs">
               <div class="nav-align-center">
                  <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    <li class="active">
                      <a href="#github" role="tab" data-toggle="tab">
                        <i class="fa fa-github"></i>
                        GitHub
                      </a>
                    </li>
                     <li>
                      <a href="#R" role="tab" data-toggle="tab">
                        <i class="icon-rlogo"></i>
                        R
                      </a>
                    </li>
                    <li>
                      <a href="#docker" role="tab" data-toggle="tab">
                        <i class="fa fa-docker"></i>
                        Docker
                      </a>
                    </li>
                    </ul>

                    <div class="tab-content gallery">
                    <div class="tab-pane text-center active" id="github">
                      <div class="row">
                        <div class="col-md-4 col-md-offset-4">

                        <h3>Get started!</h3>
                        <ol>
                        <li><a href="http://happygitwithr.com/github-acct.html">Create a GitHub account</a></li>
                        <li><a href="http://happygitwithr.com/install-git.html">Install Git</a></li>
                        <li><a href="http://happygitwithr.com/hello-git.html">Introduce yourself to Git</a></li>
                        </ol>
                        
                        <h3> Learn more:</h3>
                        <ul>
                          <li><a href="https://help.github.com/">GitHub Help topics</a></li>
                          <li> <a href="https://education.github.com">Free GitHub Student Accounts</a></li>
                          <li>Also, we are using <a href="travis-ci.com">Travis Continuous Integration</a> to test assignments submitted to GitHub</li>
                        </ul>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane text-center" id="R">
                      <div class="row">
                        <div class="col-md-4 col-md-offset-4">

                        <h3>Get started!</h3>
                        <ol>
                        <li>Install the latest <a href="http://r-project.org">R</a> and <a href="http://rstudio.com">RStudio</a></li>
                        <li><a href="">Connect RStudio to Git</a></li>
                        </ol>

                        <h3>R tools & features</h3>
                        <dl>
                        <dt><a href="https://rstudio.com">RStudio</a>:</dt><dd>Fully featured IDE</dd>  
                        <dt><a href="https://www.tidyverse.org/">Tidyverse:</a></dt>
                        <dd>an opinionated collection of R packages designed for data science</dd>
                        <dt><a href="https://rmarkdown.rstudio.com">RMarkdown:</a></dt>
                        <dd>Authoring LaTeX pdfs, websites, and more</dd>
                        <dt><a href="http://r-pkgs.had.co.nz/">R Packages:</a></dt>
                        <dd>Portable, reproducible code</dd>
                        </dl>
                        </div>
                      </div>
                    </div>
                    
                    <div class="tab-pane text-center" id="docker">
                      <div class="row">
                        <div class="col-md-4 col-md-offset-4">

                         <h3>Get started!</h3>
                        <ol>
                        <li><a href="https://store.docker.com/search?offering=community&q=&type=edition">Install Docker</a></li>
                        </ol>
                        
                        <h3>Resources</h3>
                      <dl>
                        <dt>Cloud computing:</dt><dd>Access our course <a href="https://cloud.espm-157.carlboettiger.info">RStudio server</a></dd>
                        <dt>Containers and Virtualization:</dt><dd>We'll use Docker images from the <a href="https://github.com/rocker/rocker-versioned">Rocker stack</a>.</dd>
                      </dl>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Profile Tabs -->
