              <div class="profile-tabs">
               <div class="nav-align-center">
                  <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    <li class="active">
                      <a href="#github" role="tab" data-toggle="tab">
                        <i class="fa fa-github"></i>
                        GitHub
                      </a>
                    </li>
                     <li>
                      <a href="#R" role="tab" data-toggle="tab">
                        <i class="icon-rlogo"></i>
                        R
                      </a>
                    </li>
                    <li>
                      <a href="#cloud" role="tab" data-toggle="tab">
                        <i class="material-icons">cloud</i>
                        Cloud computing
                       </a>
                    </li>
                    <li>
                      <a href="#docker" role="tab" data-toggle="tab">
                        <i class="fa fa-docker"></i>
                        Docker
                      </a>
                    </li>
                    </ul>

                    <div class="tab-content gallery">
                    <div class="tab-pane text-center" id="github">
                      <div class="row">
                      </div>
                    </div>
                    <div class="tab-pane text-center" id="R">
                      <div class="row">
                      </div>
                    </div>
                    <div class="tab-pane text-center" id="cloud">
                      <div class="row">
                      </div>
                    </div>
                    <div class="tab-pane text-center" id="docker">
                      <div class="row">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Profile Tabs -->
